body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

.container {
    background-color: #e8e9e6;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    height: 600px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: auto;
    border: 2px solid darkgray;
}

.high-score {
    display: inline;
    float: left;
    width: auto;
    padding: 0 10;
    font-size: 15px;
}

.hslist {
    width: 100px;
    padding-left: 0px;
    list-style: none;
}

#highscore {
    list-style: none;
    margin-bottom: 50px;
}

.timer {
    display: inline;
    float: right;
    width: 70px;
    text-align: left;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
}

h1 {
    clear: both;
    text-align: center;
    margin-top: 20px;
    font-size: 42px;
}

h3 {
    margin: 0;
}

h4 {
    font-size: 30px;
}

.viewing {
    clear: both;
    height: auto;
    text-align: left;
    padding: 0px 50px;
    margin-top: 50px;
    border: 2px solid darkgray;
}

.viewing div {
    font-size: 25px;
}

p {
    text-align: center;
    margin:  10 px 50px;

}

.viewing ul {
    counter-reset: quiz-list;
    list-style: lower-alpha;
    position: relative;
    opacity: 1;
}

.viewing li {
    font-size: 25px;
    width: 250px;
    background-color:#330a76;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    opacity: 1;
}

.viewing li::before {
    counter-increment: quiz-list;
    content: counter(quiz-list)". ";
    position: absolute;
    left: -5px;
    background-color:#330a76;
    border-radius: 10px 0px 0px 10px;
    width: 45px;
    padding-left: 5px;
}

.viewing li:hover::before {
    background-color: #930693;
}

.viewing li:hover {
    background-color: #930693;
}

.viewing .form {
    width: auto;
    height: 200px;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
    align-items: center;
}

.viewing .msg {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
}

.score {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
}

.viewing .label{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;  
}

.formInpt {
    font-size: 25px;
    font-weight: bold;
    padding-left: 0px;
    width: auto;
   
}

.submitBtn {
    clear: both;
    position: absolute;
    left: 45%;
    padding: 10px;    
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 10px;
    background-color: #330a76;
    color: white;
}

.submitForm:hover {
    background-color: #930693;
    cursor: pointer;
}

.startB {
    position: absolute;
    left: 45%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 10px;
    background-color: #330a76;
    
    color: white;
}
.startB:hover {
    background-color: #930693;
    cursor: pointer;
}

.footer {
    font-size: 35px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}